$bg: darken(whitesmoke, 10);
$apple-red-light: rgb(255, 59, 48);
$apple-orange-light: rgb(255, 149, 0);
$apple-yellow-light: rgb(255, 204, 0);
$apple-green-light: rgb(52, 199, 80);
$apple-mint-light: rgb(0, 199, 190);
$apple-teal-light: rgb(48, 176, 199);
$apple-cyan-light: rgb(50, 173, 230);
$apple-blue-light: rgb(0, 122, 255);
$apple-indigo-light: rgb(88, 86, 214);
$apple-purple-light: rgb(175, 82, 222);
$apple-pink-light: rgb(255, 45, 85);
$apple-brown-light: rgb(162, 132, 94);

$red: $apple-red-light;
$green: $apple-green-light;

$theme: $apple-pink-light;
